.listing-show-header
	.actions
		- if can? :update, Catalog
			= link_to edit_admin_catalog_path(@catalog), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.collections.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.catalog.name")
				.display-value= @catalog.name
			%li.list-row
				.display-label= t("activerecord.attributes.catalog.image")
				.display-value= @catalog.image
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_catalogs_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
