.listing-show-header
	.actions
		- if can? :update, Service
			= link_to edit_admin_service_path(@service), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit"), "data-no-turbolink" => true  do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.reorder.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.service.tittle")
				.display-value= @service.tittle
			%li.list-row
				.display-label= t("activerecord.attributes.service.body")
				.display-value= @service.body.html_safe
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_services_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
