.footer {
  background-color: $deep-sky-blue;
  padding: 10px;

  img {
    display: inline-block;
    width: 60px;

    @include respond-to(xs) {
      widows: 40px;
    }
  }

  small {
    color: $white;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
