.our-team {
  .bg-image {
    background: url('bg-about.jpg') no-repeat fixed center;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .our-team-header .tittle-section {
    color: $black;
  }

  .caption-avatar {
    font-size: 1.6rem;
    font-weight: $bold;
    font-style: bold;
    margin-top: 5px;
  }

  .modal-team {
    img {
      width: 100%;

      @include respond-to(xs) {
        margin-bottom: 15px;
      }

      @include respond-to(sm) {
        margin-bottom: 15px;
      }
    }
  }
}