.us {
  @include linear-gradient($deep-sky-blue, $dark-turquoise);
  .container {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.us-header .tittle-section {
  color: $white;
}

.us-content {
  padding: 10px 0;
  padding-bottom: 0;
}

.caption-us {
  color: $white;
  padding-bottom: 20px;

  h2 {
    font-family: $roboto;
    font-size: 2rem;
    font-style: bold;
    font-weight: $bold;
    padding-bottom: 15px;
  }

  p {
    font-family: $roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: $light;
    text-align: justify;
  }
}
