%li{onclick: "close_navbar_res()"}
  = link_to 'Home', controller_name.eql?('front') ? "#home" : main_app.root_path
%li{onclick: "close_navbar_res()"}
  = link_to 'Nosotros', controller_name.eql?('front') ? "#us" : main_app.root_path(anchor: "us")
%li{onclick: "close_navbar_res()"}
  = link_to 'Nuestro equipo', controller_name.eql?('front') ? "#our" : main_app.root_path(anchor: "our")
%li{onclick: "close_navbar_res()"}
  = link_to 'Servicios', controller_name.eql?('front') ? "#services" : main_app.root_path(anchor: "services")
%li{onclick: "close_navbar_res()"}
  = link_to 'Clientes', controller_name.eql?('front') ? "#clients" : main_app.root_path(anchor: "clients")
%li{onclick: "close_navbar_res()"}
  = link_to 'Blog', "/blog"
%li{onclick: "close_navbar_res()"}
  = link_to 'Contacto', controller_name.eql?('front') ? "#contact" : main_app.root_path(anchor: "contact")