.blog-widget
	.blog-widget--header
		%h3.widget-title
			Twitter timeline
	.blog-widget--body
		%a.twitter-timeline{ href:"https://twitter.com/#{KepplerBlog.twitter_username}", "data-link-color" => "#19CF86", "data-height" => "600" }