.btn-default {
  background-color: $white;
  border-radius: 16px;
  color: $very-light-grey;
  font-family: $roboto;
  font-size: 1.4rem;
  font-weight: $bold;

  &:hover,
  &:focus,
  &:active {background-color: $deep-sky-blue;
    color: $white;
    outline: 0;
  }

  &:active:focus {
    background-color: $deep-sky-blue;
    color: $white;
    outline: 0;
  }
}
