.carousel-home {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  .carousel-indicators .active {
    background-color: $black;
  }

  .carousel-indicators li {
    background-color: $very-light-grey;
  }
}

.carousel-inner {
  .item {
    .img-banner {
      height: 100vh;
      width: 100vw;
      z-index: 1;
    }
  }
}

.carousel-customized {
  margin: 60px 90px 0;

  .carousel-inner {
    margin-bottom: 90px;
  }

  .carousel-indicators .active {
    background-color: $black;
  }

  .carousel-indicators li {
    background-color: $very-light-grey;
  }
}

.carousel-responsive {
  padding-top: 30px;

  .carousel-inner {
    margin-bottom: 90px;
  }

  .carousel-indicators .active {
    background-color: $black;
  }

  .carousel-indicators li {
    background-color: $very-light-grey;
  }
}

.indicators-customize.carousel-indicators {
  bottom: -80px;
}

.group-avatar {
  padding: 0 25px;
}

.carousel-fade {
  background-color: $very-light-grey;

  .carousel-inner {
    .item {
      @include transition(.6s);
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

