.app-navbar {
  background-color: $white;
  border: 0;
  font-family: $roboto;
  font-size: 1.6rem;
  height: 55px;

  @include respond_to(xs) {
    @include transition(all .3s ease);
    background-color: rgba(0, 0, 0, .6);
    height: 65px;
  }
}

.navbar-fixed {
  border-top: 55px solid transparent;
  margin-top: -55px;
  @include respond_to(xs) {
    margin-top: -65px;
  }
}

.navbar-toggle {
  margin-top: 15px;
}

.navbar-brand {
  margin-top: -9px;

  @include respond_to(xs) {
    margin: 0;
  }
}

.navbar-nav {
  margin: 0;
}

.navbar-collapse.transitions {
  padding: 0;

  ul {
    li {
      @include transition(all .3s ease);
      background-color: $white;
      border-color: $whisper;
      height: 55px;

      a {
        @include transition(all .3s ease);
        color: $black;
        height: 55px;
        padding-top: 18px;
      }

      &:hover,
      &:active,
      &:visited {
        background-color: $black;

        a {
          @include transition(all .3s ease);
          color: $white;
        }

      }
    }
  }
}
