.tittle-section {
  margin-bottom: 40px;
  margin-top: 20px;
  padding-bottom: 15px;
  position: relative;

  h2 {
    font-family: $roboto;
    font-size: 3rem;
    font-style: bold;
    font-weight: $bold;
    text-transform: uppercase;
  }

  p {
    font-family: $roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: $light;
    margin-top: 15px;
  }

  &::after {
    border-bottom: 3px solid;
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    padding-top: 60px;
    position: absolute;
    width: 100px;
  }
}
