= title("#{t('keppler.models.singularize.setting').humanize}")
= header_information do
	= "#{t('keppler.models.singularize.setting').humanize} > #{t("keppler.header_information.setting.#{@render}")}"
= render 'form'