#carousel-clients.carousel-responsive.carousel.slide.hidden-xs.hidden-sm{"data-ride" => "carousel"}
  %ol.indicators-customize.carousel-indicators
    - @catalogs.count.times do |index|
      %li{"data-slide-to" => "#{index}", "data-target" => "#carousel-clients", class: "#{ 'active' if index.zero? }"}
  .carousel-inner
    - @catalogs.each_with_index do |item, i|
      .item{ class: "#{'active' if i.zero?}" }
        .row
          - item.each do |catalog|
            .col-md-3.col-lg-3.group-avatar
              .img-clients
                = image_tag(catalog.image, class: "img-responsive center-block")