#carousel-home.carousel-home.carousel.slide.carousel-fade.hidden-xs{"data-ride" => "carousel"}
	/ Indicators
	%ol.carousel-indicators.carousel-cs-home
		%li.active{"data-slide-to" => "0", "data-target" => "#carousel-home"}
		%li{"data-slide-to" => "1", "data-target" => "#carousel-home"}
		%li{"data-slide-to" => "2", "data-target" => "#carousel-home"}
		%li{"data-slide-to" => "3", "data-target" => "#carousel-home"}
	/ Wrapper for slides
	.carousel-inner{:role => "listbox"}
		.item.active
			.content
				= image_tag("app/logo-cms-large.png", class: "logo wow fadeInDown")
				.message.txt-black.wow.fadeIn
					= t("home.tittle-1")
			= image_tag("app/bg-item-1.jpg", class: "img-banner img-responsive center-block")
		.item
			.content-slide.bg-green.paralelogram-right
				.message.text-center
					= t("home.message-2")
			.title-move.title-right.wow.fadeInLeftBig.txt-green
				= t("home.tittle-2")
			= image_tag("app/bg-item-2.jpg", class: "img-banner img-responsive center-block")
		.item
			.content-slide.bg-blue.paralelogram-left
				.message.text-center
					= t("home.message-3")
			.title-move.title-left.wow.fadeInRightBig.txt-blue
				= t("home.tittle-3")
			= image_tag("app/bg-item-3.jpg", class: "img-banner img-responsive center-block")
		.item
			.content-slide.bg-green-lt.paralelogram-right
				.message.text-center
					= t("home.message-4")
			.title-move.title-right.wow.fadeInLeftBig.txt-green-lt
				= t("home.tittle-4")
			= image_tag("app/bg-item-4.jpg", class: "img-banner img-responsive center-block")