#carousel-home-movil.carousel-home-movil.carousel.slide.carousel-fade.hidden-sm.hidden-md.hidden-lg{"data-ride" => "carousel"}
	/ Indicators
	%ol.carousel-indicators
		%li.active{"data-slide-to" => "0", "data-target" => "#carousel-home-movil"}
		%li{"data-slide-to" => "1", "data-target" => "#carousel-home-movil"}
		%li{"data-slide-to" => "2", "data-target" => "#carousel-home-movil"}
		%li{"data-slide-to" => "3", "data-target" => "#carousel-home-movil"}
	/ Wrapper for slides
	.carousel-inner{:role => "listbox"}
		.item.active
			.content
				= image_tag("app/logo-cms-large.png", class: "logo wow fadeInDown")
				.message.txt-black.wow.fadeIn
					= t("home.tittle-1")
			= image_tag("app/background_banner_1_movil.jpg", class: "img-banner img-responsive center-block")
		.item
			.content
				.message.text-center
					= t("home.message-2")
				.title-move
					= t("home.tittle-2")
			= image_tag("app/background_banner_2_movil.jpg", class: "img-banner img-responsive center-block")
		.item
			.content
				.message.text-center
					= t("home.message-3")
				.title-move
					= t("home.tittle-3")
			= image_tag("app/background_banner_3_movil.jpg", class: "img-banner img-responsive center-block")
		.item
			.content
				.message.text-center
					= t("home.message-4")
				.title-move
					= t("home.tittle-4")
			= image_tag("app/background_banner_4_movil.jpg", class: "img-banner img-responsive center-block")