.collection-item.avatar
	= material_icon.md_24.delete.css_class("circle")
	%b
		= activity.owner.name if activity.owner
	= t('keppler.messages.has')
	= t('keppler.actions.deleted').downcase
	= activity.trackable_type.underscore.humanize
	= t('keppler.messages.at')
	= activity.created_at