.collection-item.avatar
	= material_icon.md_24.create.css_class("circle")
	%b
		= activity.owner.name if activity.owner
	= t('keppler.messages.has')
	= t('keppler.actions.updated').downcase
	= t("keppler.models.singularize.#{activity.trackable_type.underscore}").humanize

	- if activity.trackable
		= t('keppler.messages.to')
		%b
			= activity.trackable.send(method)
		= t('keppler.messages.at')
		= activity.created_at
	- else
		= t('keppler.messages.at')
		= activity.created_at
		= t('keppler.messages.since_been_removed')