.container-fluid
  .container
    .blog-header
      .tittle-section
        %h2
          BLOG
        %p
          “Porque al compartir pasión y conocimiento multiplicas, no divides.”
  .container-fluid.blog-content
    .row.hidden-xs.hidden-sm
      - @posts.each do |post|
        .col-md-4
          .thumbnail.thumbnail-customize
            = image_tag(post.image, class: "img-responsive center-block")
            .author-picture-container
              = image_tag("#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=60", class: "img-responsive center-block")
            .caption-blog
              %h3
                = link_to post.title.truncate(150), "/blog/#{post.permalink}"
              %p.author-post
                = post.user.name
              %p
                = sanitize(post.body, tags:[]).truncate(300)
            .caption-footer
              .footer-thumbnail
                = link_to "Ver Más", "/blog/#{post.permalink}", class: "btn btn-default pull-right"
                .clearfix

    = render 'app/front/carousels/blog'