.container
	.row
		.col-xs-12.col-sm-12.col-md-6.logo-section
			= image_tag("app/logo-cms-white.png", class: "logo img-responsive center-block")
			%p
				= t('contact.message-1')
			.icon-contact
				%i.fa.fa-envelope-o.fa-2x{"aria"=> "true"}
				%h4.email
					info@alianzacmc.com
			.icon-social-media
				%a.btn.btn-round.btn-clear.btn-instagram{:href => "https://www.instagram.com/alianzacmc/",:target => "_blank"}
					%i.fa.fa-instagram.fa-2x{"aria"=> "true"}
				%a.btn.btn-round.btn-clear.btn-facebook{:href => "https://www.facebook.com/profile.php?id=100009436971333&fref=ts",:target => "_blank"}
					%i.fa.fa-facebook.fa-2x{"aria"=> "true"}
				%a.btn.btn-round.btn-clear.btn-twitter{:href => "https://twitter.com/cmcalianza",:target => "_blank"}
					%i.fa.fa-twitter.fa-2x{"aria"=> "true"}
				%a.btn.btn-round.btn-clear.btn-youtube{:href => "https://www.youtube.com/channel/UCVnSoo1Wl3KxMLMmxJQykdQ",:target => "_blank"}
					%i.fa.fa-youtube.fa-2x{"aria"=> "true"}
				%a.btn.btn-round.btn-clear.btn-google-plus{:href => "https://plus.google.com/u/0/100040883732603243528",:target => "_blank"}
					%i.fa.fa-google-plus.fa-2x{"aria"=> "true"}
				%a.btn.btn-round.btn-clear.btn-linkedin{:href => "https://www.linkedin.com/company/alianza-cmc",:target => "_blank"}
					%i.fa.fa-linkedin.fa-2x{"aria"=> "true"}
		.col-xs-12.col-sm-12.col-md-6
			.contact-header
				.tittle-section
					%h2
						CONTACTOS
					%p
						Si deseas más información completa el siguiente formulario
			.contact-content
				= simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
					.form-group
						= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control", placeholder: "Nombre", required: "required"}
						= f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required"}
						= f.input :subject, label: false, input_html: {class: "form-control", placeholder: "Asunto"}
						= f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje..."}
					.row
						.col-md-6.col-lg-6
							.pull-left.recaptcha
								= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
						.col-md-6.col-lg-6.form-actions.pull-right
							= f.button :submit, t('keppler.actions.send'), class: "btn btn-default pull-right"