.container
  .us-header
    .tittle-section
      %h2
        Nosotros
      %p
        “Nuestro éxito se mide por lo que generamos en otros.”
  .us-content
    - [(1..3), (4..6)].each do |range|
      .row
        - range.each do |i|
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.caption-us.wow.flipInY
            %h2
              = t("us.title-#{i}")
            %p
              = t("us.text-#{i}")